.container {
    width: 300px;
    background-color: blue;
    margin: auto;
    padding: 30px;
    border: 1px solid #bd1616;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(11, 29, 63, 0.1);
}

.container2 {
    width: 300px;
    background-color: blue;
    margin: auto;
    padding: 30px;
    border: 1px solid #bd1616;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(11, 29, 63, 0.1);
}

.container3 {
    width: 450px;
    background-color: blue;
    margin: auto;
    padding: 30px;
    border: 1px solid #bd1616;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(11, 29, 63, 0.1);
}